body{
margin: 50px;
padding: 50px 100px;
border: 1px solid black;
    background-color: aqua;
}
img{
width: 100%;

}

.textocentrado {

text-align: center;

}

.textorojo {

    color: red;
}
